.root {
  margin-bottom: 24px;
  padding: 24px;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  flex-wrap: wrap;
  align-content: start;
  justify-content: start;
  align-items: stretch;
  justify-items: stretch;
  width: 100%;
  gap: 24px;
}
.top-txt {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 16px;
}
