.root {
}
.card {
  display: grid;

  flex-direction: column;
  row-gap: 16px;
  border-radius: 5px;
  flex-wrap: nowrap;
  min-width: auto;
  justify-items: stretch;
  min-height: auto;
  justify-content: start;
  align-items: stretch;
  grid-auto-flow: row;
  height: 100%;
}
.track-name {
  font-family: 'Archivo', sans-seif;
  color: var(--nav-item-text);
  opacity: 0.7;
}
.song {
  font-family: 'Archivo', sans-serif;
  color: var(--white);
  font-weight: 700;
  margin: 0;
}
.song-details {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  margin: 0;
  padding: 0px;
  flex-wrap: wrap;
}
.artist {
  font-family: 'Archivo', sans-serif;
  color: var(--white);
  opacity: 0.7;
  margin: auto auto auto 0;
}
.img-card {
  min-width: 50px;
  object-fit: cover;
  height: auto;
  max-width: 225px;
  width: auto;
}
