.root {
  --primary-btn: #e4ff88;
  --txt-btn: #120505;
  --white: #ffffff;
}
.btn-primary {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 100px;
  background-color: var(--primary-btn);
  text-align: center;
  justify-content: center;
  color: var(--txt-btn);
  line-height: 1;
  &:hover {
    background-color: #ecffaf;
  }
}
