.root {
  display: flex;
  flex-direction: row;
  gap: 0px 8px;
  width: auto;
}
.nav-text {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  color: var(--nav-item);
}

.nav-item {
  width: auto;
  flex-direction: row;
  align-items: center;
  padding-left: 12px;
}
.icon {
  height: 24px;
  width: 24px;
}
