.root {
  display: flex;
  flex-direction: row;
  gap: 0px 8px;
  width: auto;
}
.nav-text {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  color: var(--nav-item-text);
  line-height: 1;
}

.nav-item {
  width: auto;
  flex-direction: row;
  align-items: center;
  padding-left: 12px;
  &:hover {
    background-color: var(--nav-item-hover);
  }
  border-radius: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 12px;
  line-height: 0;
}
.icon {
  height: 24px;
  width: 24px;
}
.home {
}
